body {
    background: #101010;
    color: #DDDDDD;
}

.heading {
    color: #FF2020;
}

.btn {
    border-color: #FF2020;
    color: #FF2020;
    background: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.4) 100%);
}

    .btn:hover {
        background-color: rgba(0, 0, 0, 0.2);
        font-weight: 900;
    }

.navbar {
    background-color: rgba(0, 0, 0, 0.85);
}

.navbar-item {
}

.nav-link {
    color: #DDDDDD;
}

    .nav-link:hover {
        color: #FF2020;
    }

.nav-img {
}

.footer {
    background: #000000;
}

.theme-back {
    background-color: #C9C9C9;
}

.theme-info-container {
}

.theme-back:hover .theme-info-container {
}

.theme-info-text {
    color: #DDDDDD;
}

.theme-toggle {
    background-color: #FF2020;
}

.error {
    color: #FF2020;
}

.success {
    color: #20FF20;
}

.form-input-field {
    border-color: #FF2020;
    color: #FF2020;
    background: linear-gradient(.125turn, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.form-input {
    color: #FFFFFF;
}

.form-input-option {
    background: #181818;
    color: #DDDDDD;
}

.card {
    border-color: #FF2020;
    background: linear-gradient(.125turn, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
}

    .card:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

.card-paragraph {
    color: #FF2020;
}

.card-portrait-img {
}

.card-tab-btn {
}

    .card-tab-btn:hover {
        color: #FF2020;
    }

.card-logo {
    -webkit-filter: drop-shadow(0px 0px 2px rgba(214, 214, 214, 0.7));
    filter: drop-shadow(0px 0px 2px rgba(214, 214, 214, 0.7));
}

.db-table {
    background: #202020;
}

.db-table-row {
    color: #DDDDDD;
}
    
    .db-table-row:hover {
        color: #FF2020;
    }

.popup-box {
    border-color: #FF2020;
    background: rgba(0, 0, 0, 0.8);
}

.options-item {
    background-color: #181818;
}

    .options-item:hover {
        background-color: #282828;
        color: #FF2020;
    }